/Animation.class
/GMapObjectType.class
/GMapPoint.class
/GoogleMap.class
/InfoWindow.class
/InfoWindowOptions.class
/LatLong.class
/LatLongBounds.class
/MVCArray.class
/MapOptions.class
/MapShape.class
/MapTypeIdEnum.class
/Marker.class
/MarkerOptions.class
/MarkerShape.class
/Polyline.class
/PolylineOptions.class
/Projection.class
/Size.class
